div[role=grid], #running {
  height: calc(100vh - 25px);
}
div[role=grid] {
  width: 720px;
}
#running {
  width: 100vw;
}

.live-time {
  background-color: #000000;
  color: #ffffff;
  margin-left: 5em;
  width: 5em;
  text-align: right;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}